menu "[version]"

	config VERSION_ACQUISITION_ENABLE
		bool "VERSION_ACQUIRE_ENABLE"
		default y
		help
			Try to acquire connected serial device version on startup

	if VERSION_ACQUISITION_ENABLE

		config VERSION_STM_ACQ_TIMEOUT_US
			int "STM32's FW version acquisition timeout"
			default 2000000
			help
				Timeout to acquire connected serial device version

		config VERSION_SERIAL_BUFFER_SIZE
			int "SERIAL_BUFFER_SIZE"
			default 64
			help
				Size of the buffer used to acquire connected serial device version

		config VERSION_UART_BAUDRATE
			int "VERSION_UART_BAUDRATE"
			default 115200
			help
				Baudrate of the uart used for connected device's version acquisition

	endif

endmenu
