menu "[ov2640 driver]"

config OV2640_SUPPORT
	bool "OV2640 Support"
	default y
	help
		Enable this option if you want to use the OV2640.
		Disable this option to save memory.

config OV7725_SUPPORT
	bool "OV7725 Support"
	default n
	help
		Enable this option if you want to use the OV7725.
		Disable this option to save memory.

config OV3660_SUPPORT
	bool "OV3660 Support"
	default y
	help
		Enable this option if you want to use the OV3360.
		Disable this option to save memory.

config OV5640_SUPPORT
	bool "OV5640 Support"
	default y
	help
		Enable this option if you want to use the OV5640.
		Disable this option to save memory.

config SCCB_HARDWARE_I2C
	bool "Use hardware I2C for SCCB"
	default y
	help
		Enable this option if you want to use hardware I2C to control the camera.
		Disable this option to use software I2C.

config OV2640_JPEG_BUFFER_SIZE
	int "OV2640_JPEG_BUFFER_SIZE"
	range 0 61440
	default 40960
	help
		Number of bytes the driver will allocate for storing JPEG frames, if JPEG encoding is used.

choice SCCB_HARDWARE_I2C_PORT
	bool "I2C peripheral to use for SCCB"
	depends on SCCB_HARDWARE_I2C
	default SCCB_HARDWARE_I2C_PORT1

	config SCCB_HARDWARE_I2C_PORT0
		bool "I2C0"
	config SCCB_HARDWARE_I2C_PORT1
		bool "I2C1"

endchoice

choice CAMERA_TASK_PINNED_TO_CORE
	bool "Camera task pinned to core"
	default CAMERA_CORE0
	help
		Pin the camera handle task to a certain core(0/1). It can also be done automatically choosing NO_AFFINITY.

	config CAMERA_CORE0
		bool "CORE0"
	config CAMERA_CORE1
		bool "CORE1"
	config CAMERA_NO_AFFINITY
		bool "NO_AFFINITY"

endchoice

config OV2640_CUSTOM_BUFFER_MANAGEMENT
	bool "OV2640_CUSTOM_BUFFER_MANAGEMENT"
	default y
	help

		Default OV2640's driver offers custom implementation of frame buffer
		management, and it really lacks performance on some chips (probably because
		it uses FreeRTOS' queues). This field enables custom buffer management.

if OV2640_CUSTOM_BUFFER_MANAGEMENT
	config OV2640_CUSTOM_BUFFER_MANAGEMENT_N_BUFFERS
		int "OV2640_CUSTOM_BUFFER_MANAGEMENT_N_BUFFERS"
		range 1 3
		default 2
		help
			Enable this option if you want to use the OV2640.
			Disable this option to save memory.
endif

choice DRIVER_OV2640_DEBUG_LEVEL
	prompt "[DRIVER_OV2640] module debug level"
	default DRIVER_OV2640_DEBUG_LEVEL_INFO

	config DRIVER_OV2640_DEBUG_LEVEL_ERROR
		bool "Error"

	config DRIVER_OV2640_DEBUG_LEVEL_WARN
		bool "Warning"

	config DRIVER_OV2640_DEBUG_LEVEL_INFO
		bool "Info"

	config DRIVER_OV2640_DEBUG_LEVEL_DEBUG
		bool "Debug"

	config DRIVER_OV2640_DEBUG_LEVEL_VERBOSE
		bool "Verbose"

endchoice

config DRIVER_OV2640_DEBUG_LEVEL
	int
	default 1 if DRIVER_OV2640_DEBUG_LEVEL_ERROR
	default 2 if DRIVER_OV2640_DEBUG_LEVEL_WARN
	default 3 if DRIVER_OV2640_DEBUG_LEVEL_INFO
	default 4 if DRIVER_OV2640_DEBUG_LEVEL_DEBUG
	default 5 if DRIVER_OV2640_DEBUG_LEVEL_VERBOSE

config OV2640_TRIGGER_RECEIVE_ON_BUFFER_RELEASE
	bool "Trigger acquisition of the next buffer on `esp_camera_fb_return` call"
	default n
	depends on !DRIVER_OV2640_USE_HOOKS
	help
		When using 1 frame buffer, OV2640 driver works according to the
		following sequence.
		1. On `esp_camera_fb_get`, it (1) waits for the falling edge on VSYNC
		pin, (2) starts I2S, which (3) triggers DMA, which (4) signals to "dma
		task" to pack acquired buffers.
		2. When a frame is received, I2S gets stopped;
		3. User code invokes `esp_camera_fb_return`
		4(3). User code calls `esp_camera_fb_get`.

		Enable this option to trigger acquisition of a new frame on
		`esp_camera_fb_get` call.

		Warning: when `DRIVER_OV2640_USE_HOOKS` is selected, the option makes
		no effect.

config DRIVER_OV2640_USE_HOOKS
	bool "Use hooks on driver events"
	help
		Using hooks allows to tap directly into the driver's workflow cutting
		off context switching expenses through using callbacks.

		Warning: When enabled, `esp_camera_fb_get` and `esp_camera_fb_return`
		API calls will cease to work.

		Warning: when used with multiple camera buffers (`fb_count`), the
		behavior is undefined.

endmenu
