[submodule "tools/esptool"]
	path = tools/esptool
	url = git@gitlab.corp.geoscan.aero:pioneermini/esp-tool-for-pioneer-mini.git
        branch = master
[submodule "tools/etool"]
	path = tools/etool
	url = git@gitlab.corp.geoscan.aero:pioneermini/esp-tool-for-pioneer-mini.git
[submodule "components/utility/rr"]
	path = components/utility/rr
	url = https://github.com/damurashov/Reciprocal-Receptacles.git
