build
.pio
.vscode
qtcsettings.cmake
CMakeCache*
qt_build_script.sh
CMakeLists.txt.user*
*.autosave
*CMakeLists.txt.user
.txt.user
components/rtsp/request_parser/generated/a.out

CMakeLists.txt.user
.ignore
