build
.pio
.vscode
qtcsettings.cmake
qt_build_script.sh
*.autosave
*CMakeLists.txt.user
.txt.user

CMakeLists.txt.user
.ignore
*txt.user
tools/*bootloader.bin 
tools/*esp32.bin 
tools/*partition-table.bin
tools/esptool/__pycache__
tools/esptool/build
tools/esptool/cache
tools/esptool/dist

*.bin
*.properties
*.idea
/tools/cache
sdkconfig.old
tools/*/cache
tools/idftools
tools/jlink_openocd_scripts/__pycache__/
tools/jlink_openocd_scripts/.jlinkesp32.cfg
tools/jlink_openocd_scripts/.jlinkgdbinit
cache/
environment.sh
