menu "[cam]"

config CAM_ENABLE
	bool "Enable camera device"
	default y

if CAM_ENABLE

	choice CAM_MODEL
		prompt "Select camera model"
		help
			Camera model

		config CAM_MODEL_OV2640
			bool "OV2640"
			default y
			depends on OV2640_SUPPORT
		if !OV2640_SUPPORT
			comment "OV2640_SUPPORT -- disabled"
		endif

	endchoice

endif

endmenu
