menu "[COMPONENT_FRAME]"

	choice COMPONENT_FRAME_UPPER_DEBUG_LEVEL
		prompt "[COMPONENT_FRAME] module debug level"
		default COMPONENT_FRAME_UPPER_DEBUG_LEVEL_INFO

		config COMPONENT_FRAME_UPPER_DEBUG_LEVEL_ERROR
			bool "Error"

		config COMPONENT_FRAME_UPPER_DEBUG_LEVEL_WARN
			bool "Warning"

		config COMPONENT_FRAME_UPPER_DEBUG_LEVEL_INFO
			bool "Info"

		config COMPONENT_FRAME_UPPER_DEBUG_LEVEL_DEBUG
			bool "Debug"

		config COMPONENT_FRAME_UPPER_DEBUG_LEVEL_VERBOSE
			bool "Verbose"


	endchoice

	config COMPONENT_FRAME_UPPER_DEBUG_LEVEL
		int
		default 1 if COMPONENT_FRAME_UPPER_DEBUG_LEVEL_ERROR
		default 2 if COMPONENT_FRAME_UPPER_DEBUG_LEVEL_WARN
		default 3 if COMPONENT_FRAME_UPPER_DEBUG_LEVEL_INFO
		default 4 if COMPONENT_FRAME_UPPER_DEBUG_LEVEL_DEBUG
		default 5 if COMPONENT_FRAME_UPPER_DEBUG_LEVEL_VERBOSE

endmenu
