menu "[wifi]"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "PioneerMini"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "12345678"
        help
            WiFi password (WPA or WPA2) for the example to use.
    config ESP_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 1
        help
            WiFi channel (network channel) for the example to use.

    config ESP_MAX_STA_CONN
        int "Maximal STA connections"
        default 1
        help
            Max number of the STA connects to AP.

	choice WIFI_DEBUG_LEVEL
		prompt "[wifi] module debug level"
		default WIFI_DEBUG_LEVEL_INFO

		config WIFI_DEBUG_LEVEL_ERROR
			bool "Error"

		config WIFI_DEBUG_LEVEL_WARN
			bool "Warning"

		config WIFI_DEBUG_LEVEL_INFO
			bool "Info"
			default 1

		config WIFI_DEBUG_LEVEL_DEBUG
			bool "Debug"

		config WIFI_DEBUG_LEVEL_VERBOSE
			bool "Verbose"


	endchoice

	config WIFI_DEBUG_LEVEL
        int
        default 1 if WIFI_DEBUG_LEVEL_ERROR
        default 2 if WIFI_DEBUG_LEVEL_WARN
        default 3 if WIFI_DEBUG_LEVEL_INFO
        default 4 if WIFI_DEBUG_LEVEL_DEBUG
        default 5 if WIFI_DEBUG_LEVEL_VERBOSE

endmenu
