menu "[module]"

	choice MODULE_DEBUG_LEVEL
		prompt "[module] module debug level"
		default MODULE_DEBUG_LEVEL_INFO

		config MODULE_DEBUG_LEVEL_ERROR
			bool "Error"

		config MODULE_DEBUG_LEVEL_WARN
			bool "Warning"

		config MODULE_DEBUG_LEVEL_INFO
			bool "Info"

		config MODULE_DEBUG_LEVEL_DEBUG
			bool "Debug"

		config MODULE_DEBUG_LEVEL_VERBOSE
			bool "Verbose"


	endchoice

	config MODULE_DEBUG_LEVEL
		int
		default 1 if MODULE_DEBUG_LEVEL_ERROR
		default 2 if MODULE_DEBUG_LEVEL_WARN
		default 3 if MODULE_DEBUG_LEVEL_INFO
		default 4 if MODULE_DEBUG_LEVEL_DEBUG
		default 5 if MODULE_DEBUG_LEVEL_VERBOSE

endmenu
