menu "[socket]"

	choice SOCKET_DEBUG_LEVEL
		prompt "[socket] module debug level"
		default SOCKET_DEBUG_LEVEL_INFO

		config SOCKET_DEBUG_LEVEL_ERROR
			bool "Error"

		config SOCKET_DEBUG_LEVEL_WARN
			bool "Warning"

		config SOCKET_DEBUG_LEVEL_INFO
			bool "Info"

		config SOCKET_DEBUG_LEVEL_DEBUG
			bool "Debug"

		config SOCKET_DEBUG_LEVEL_VERBOSE
			bool "Verbose"


	endchoice

	config SOCKET_DEBUG_LEVEL
        int
        default 1 if SOCKET_DEBUG_LEVEL_ERROR
        default 2 if SOCKET_DEBUG_LEVEL_WARN
        default 3 if SOCKET_DEBUG_LEVEL_INFO
        default 4 if SOCKET_DEBUG_LEVEL_DEBUG
        default 5 if SOCKET_DEBUG_LEVEL_VERBOSE

endmenu
