menu "[camera_thread]"

config CAMERA_THREAD_ENABLE
	bool "Enable camera thread"
	default y

config CAMERA_THREAD_PIN_TO_CORE
	int "PIN_TO_CORE: # of core to pin the task"
	range 0 1
	default 1

endmenu
