menu "[sd_fat]"

	config SD_FAT_MOUNT_POINT
		string "Mount Point"
		default "/sdcard"
		help
			Mount point for FAT File System on connected SD card
	
	config SD_FAT_MAX_OPENED_FILES
		int "Max opened files"
		range 1 20
		default 5
		help
			Max. number of files opened simultaneously

endmenu