config ZD35_CAN_ENABLE
	bool
	default n
	default y if CONFIG_SPI_FLASH_OVERRIDE_CHIP_DRIVER_LIST

menu "[zd35]"

	comment "[zd35] Cannot enable ZD35 flash memory support. Any changes made here will be ignored"
		depends on !ZD35_CAN_ENABLE

	config ZD35_ENABLED
		bool "Enable ZD35 driver"
		depends on ZD35_CAN_ENABLE
		
	if ZD35_ENABLED

		choice ZD35_DEBUG_LEVEL
			prompt "[zd35] module debug level"
			default ZD35_DEBUG_LEVEL_INFO

			config ZD35_DEBUG_LEVEL_ERROR
				bool "Error"

			config ZD35_DEBUG_LEVEL_WARN
				bool "Warning"

			config ZD35_DEBUG_LEVEL_INFO
				bool "Info"

			config ZD35_DEBUG_LEVEL_DEBUG
				bool "Debug"

			config ZD35_DEBUG_LEVEL_VERBOSE
				bool "Verbose"

		endchoice

	endif

	config ZD35_DEBUG_LEVEL
		int
		default 3
		default 1 if ZD35_DEBUG_LEVEL_ERROR
		default 2 if ZD35_DEBUG_LEVEL_WARN
		default 3 if ZD35_DEBUG_LEVEL_INFO
		default 4 if ZD35_DEBUG_LEVEL_DEBUG
		default 5 if ZD35_DEBUG_LEVEL_VERBOSE

endmenu
