menu "JPEG camera streamer"

	config CAMSTREAM_SOURCE_UDP_PORT
		int "Default port device uses for sending frames"
		default 8888

	config CAMSTREAM_SOURCE_TCP_PORT
		int "Default port device uses to accept TCP connection"
		default 8888

	config CAMSTREAM_USE_FPS
		bool "Specify FPS"
		default n
		help
			If disabled, the device sends frames as soon as it acquires them,
			the performance is only determined by camera's latencies

	if CAMSTREAM_USE_FPS

		config CAMSTREAM_FPS
			int "FPS"
			range 1 30
			default 20

	endif

endmenu